*{
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;

}
body {
  margin : 0;
  background:white;
}
.login-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form{
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input,
.login-form button{
  padding: 6px;
}